
@media only screen and (max-width: 768px) {
	#headerMenu {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		background-color: #282828;
		height: 50px;
		border-bottom: 0px;
		width: 100%;
		display: flex-wrap;
	}
	#search_bar2 {
		position: relative;
		margin-top: 2px;
		margin-left: 2%;
		height: 25px;
	    width: 0;
		display: block;
	}
	#search_bar2 input[type="image"] {
		position: relative;
		height: 25px;
		width: auto;
		display: block;
		transition-timing-function: ease-in-out;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
	}
	#search_bar2:hover input[type="image"]{
		opacity: .6;
	}
	#search_img {
		margin-top: 7px;
		transition-timing-function: ease-in-out;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
	}
	#form {
		border: none;
		padding: 0px;
		width: 100%;
		outline: none;
	}
	#form input[type="text"]{
		border: none;
		padding: 10px;
		position: absolute;
		left: 0;
		font-size: 12px;
		font-weight: bold;
		max-width: 96%;
		outline: none;
	}
	#form input[type="image"]{
		border: none;
		position: absolute;
		right: 0;
		width: auto;
	}
	#img2 {
		position: absolute;
		left: 80%;
		top: 0;
		margin-top: 10px;
		display: none;
		transition-timing-function: ease-in-out;
		-webkit-transition-duration: .5s;
		transition-duration: .5s;
	}
	#join {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		margin-top: 0;
		width: 80%;
	}
	#signIn {
		display: none;
		width: 100%;
	}
	div.bgstyleIndex {
		display: none;
	}
	div.bgstyle2 {
		display: none;
	}
	div.bgstyle {
		height: 100%;
		width: 100%;
		margin-top: 0;
		margin-bottom: 30px;
		background-color: #FFFFFF;
		padding: 5px;
		display: flex-wrap;
	}
	#logo {
		display: none;
	}
	
	div.photos {
		display: none;
	}
	#refine {

		display: none;
	}
	#adv, #clr {
		margin-left: 70%;
		font-weight: bold;
		color: #aaa;
		font-size: 8pt;
		cursor: pointer;
	}
	#search input[type="text"] {
		outline: none;
		float: left;
		font: bold 12px Arial,Helvetica,Sans-serif;
		width: 78%;
		height: 100%;
		margin-bottom: 5px;
		margin-top:0;
		
	}
	#searchWrap {
		height:100%;
	}
	#filter-people {
		display: none;
	}
	#filter-state  {
		display: none;
	}
	.menuItem {
		display: none;
	}
	.dropdown {
		width: 50px;
		position: absolute;
		right: 0;
		display: block;
		top: 0;
		margin-top: 0;
	}
	.dropdown2 {
		
		display: none;
		
	}
	.display_project {
		width: auto;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		-moz-box-shadow: 0 2px 8px 0 rgba(169, 169, 169, 0.4), 0 6px 20px 0 rgba(169, 169, 169, 0.2);
		-webkit-box-shadow: 0 2px 8px 0 rgba(169, 169, 169, 0.4), 0 6px 20px 0 rgba(169, 169, 169, 0.2);
		box-shadow: 0 2px 8px 0 rgba(169, 169, 169, 0.4), 0 6px 20px 0 rgba(169, 169, 169, 0.2);
	}
	.display_project img {
		height: 50px;
		width: 50px;
		float: left;
		border-radius: 50%;

	}
	.display_project h2 {
		float: left;
		margin-left: 8%;
	}
	.display_project h5 {
		float: right;
		margin-right: 3%;
		color: #aaa;
	}
	.project_container {
        clear: both;
		margin-top: 30px;
		padding: 10px;
		border: 1px solid #f1f1f1;
		height: auto;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	.project_container img {
		height: 50px;
		width: 50px;
		border-radius: 50%;
		margin: 10px;
	}
	.project_container h1 {
		margin-top: 25%;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		text-decoration: none;
		font-size: 1.3em;
		font-weight: bold;
		color: #585858;
		font-family: Arial, Helvetica, Sans-serif;
	}
	.project_container h4 {
		float: right;
		color: #aaa;
		font-family: Arial, Helvetica, Sans-serif;
		margin: 10px;
	}
	.project_container p {
		clear: both;
		margin-top: 20px;
		margin-left: 10px;
		margin-right: 10px;
		font-size: 1.2em;
	}
	.profileheading2 {
		text-align: center;
		font-family: Arial, hevetica;
		font-size: 16px;
		font-weight: bold;
		text-decoration: underline;
		margin-top: 20px;
		margin-bottom: 25px;
		height: 15px;
		margin-left: auto;
		margin-right: auto;
		background-color: #fffffff;
		border-radius: 10px;
		color: #585858;
		text-align: center;

	}
	#profile {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20%;
		padding: 15px;
		margin-bottom: 10px;
		text-align: center;
		font-family: arial;
		height: auto;
		color:#585858;
		display: none;
		border-radius: 15px;
		background-color: #E8E8E8;
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
	    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
	}
	#minProfile h1 {
		padding: 10px;
	}
	a:hover .tooltip {
	   visibility: visible;
	   margin-left: -55px;
	}
	#dropdown-content2 {
		color: #ffffff;
		position: fixed;
		top: 50px;
		left: 0;
		width: 80%;
		display: none;
		z-index: 1;
		height: auto;
		background-color: #585858;
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	#dropdown-content2 a {
		display: block;
		padding: 20px;
		transition-timing-function: ease-in-out;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
	}

	#search_bar2:hover .tooltip {
		visibility: visible;
		margin-left: -10px;
	}
	#message-nav {
	    position: -webkit-sticky;
		position: sticky;
		margin-top: 30px;
		top: 50px;
		left: 0;
		height: auto;
		color: #aaa;
		width: 100%;
		font-weight: bold;
	    background-color: #585858;
	}
	#message-nav-buttons {
		width: 100%;
		background-color: #585858;
		display: flex;
	}
	#message-nav-buttons a{
		text-align: center;
		width: 100%;
		color: #aaa;
		padding: 8px 30px;
		font-weight: bold;
		font-family: arial, helvetica, sans-serif;
		border: none;
	    background-color: #585858;
		display: block;
		transition-timing-function: ease-in-out;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
	}
	#message-nav-buttons img {
		width: 30px;
		height: 30px;
		margin-right: 20%;
		margin-left: 16%;
		margin-top: 5px;
	}

	#message-nav-buttons a:hover {
		color: #ffffff;
		font-weight: bold;
		background-color: #585858;
		-moz-box-shadow: 0 8px 10px 0 rgba(169, 169, 169, 0.7), 0 10px 12px 0 rgba(169, 169, 169, 0.2);
		-webkit-box-shadow: 0 8px 10px 0 rgba(169, 169, 169, 0.7), 0 10px 12px 0 rgba(169, 169, 169, 0.2);
		box-shadow: 0 8px 10px 0 rgba(169, 169, 169, 0.7), 0 10px 12px 0 rgba(169, 169, 169, 0.2);
	}

	#hr {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		background-color: #E8E8E8;
		clear: both;
		height: 1px;
		display: flex;
	}
	#hr2 {
		width: 0;
		margin-left: auto;
		margin-right: auto;
		background-color: #E8E8E8;
		clear: both;
	}
    #minProfile {
		float: left;
		height: 50px;
		width: 50%;
		color: #ffffff;
		background-color: #585858;
		font-weight: bold;
		font-size: 14pt;
		text-align: center;
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
	}
	#minProfile:hover {
		cursor: pointer;	
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	}
	#minProfile h1 {
		padding: 10px;
	}
	#minProject {
		float: right;
		height: 50px;
		width: 50%;
		color: #ffffff;
		background-color: #585858;
		font-weight: bold;
		font-size: 14pt;
		text-align: center;
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
	}
	#minProject:hover {
		cursor: pointer;	
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	}
	#minProject h1 {
		padding: 10px;
	}
	#proPic img{
		margin-top: 20px;
		width: 70%;
		height: 200px;	
		border-radius: 50%;
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	}
	#profileButtons {
		display: block;
	}
}

@media only screen and (min-width: 667px) {

    #message-nav-buttons a {
		width: 100%;
		color: #aaa;
		padding: 8px 90px;
		font-weight: bold;
		font-family: arial, helvetica, sans-serif;
		border: none;
	}
	#profile {
		margin-left: auto;
		margin-right: auto;
		width: 45%;
	}
	#dropdown-content2 a {
		padding: 15px;

	}
}
@media screen and (min-width: 769px) {
	#headerMenu {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		background-color: #282828;
		border-bottom: 0px;
		width: 100%;
		height: 50px;
		display: flex-wrap;
    }
	div.bgstyle {
		margin-top: 2%;
		margin-right: auto;
		margin-left: auto;
		width: 55%;
		margin-bottom: 10px;
		min-height: 10%;
		background-color: #FFFFFF;
		padding: 5px;
		display: flex-wrap;
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
	div.bgstyle2 {
		margin-top: 1%;
		margin-right: auto;
		margin-left: 29%;
		width: 49%;
		margin-bottom: 10px;
		min-height: 420px;
		background-color: #FFFFFF;
		padding: 5px;
		display: flex-wrap;
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		
    }
    div.bgstyleIndex {
		float: left;
		position: -webkit-sticky;
		position: sticky;
		top: 8%;
		margin-top: 5%;
		max-width: 650px;
		margin-left: 12%;
		margin-right: auto;
		padding: 0 15px;
		min-height: 500px;
		background-color: #FFFFFF;
		margin-bottom: 20px;
		display: flex-wrap;
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    }
	.search_bar {
		display: none;
	}
	#search_bar2 {
		position: relative;
		margin-top: 7px;
		margin-left: 20%;
		height: 25px;
	    width: 0;
		display: block;
	}
	#search_bar2 input[type="image"] {
		position: relative;
		padding-top: 5px;
		top: 0;
		height: 25px;
		width: auto;
		display: block;
		transition-timing-function: ease-in-out;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
	}
	#search_bar2:hover input[type="image"]{
		opacity: .6;
	}
	#search_img {
		transition-timing-function: ease-in-out;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
	}
	#logo {
		color: #ffffff;
		font-size: 20pt;
		font-weight: bold;
		position: absolute;
		display: flex;
		margin-left: 2%;
		margin-top: 7px;
	}
	#logo img {
		display: none;
    }
	#menu a{
		color: #ffffff;
		height: 50px;
		padding-left: 18px;
		padding-right: 18px;
		font-weight: bold;
		transition-timing-function: ease-in-out;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
	}
	#menu a:hover {
	    font-weight: bold;
		opacity: .6;
	}
	.menuItem {
		font-weight: bold;
		font-size: 12pt;
		display: block;
		margin-left: ;
		width: 100%;
		margin-top: 5px;
	}
	#hideMenu {
		position: absolute;
		left: 35%;
	    font-size: 9pt;
		margin-left: auto;
		display: flex;
	}
	#hideMenu img {
		height: 15px;
		width: 15px;
		padding-left: 3px;
	}
	#hideMenu a {
		margin-left: 0%;
		padding:0 50px;
		
	}
	.menuItem a:hover {
		color: #aaa;
	}
	
	.dropdown {
		display: none;
	}
	.dropdown2 {
		position: absolute;
		top: 0;
		right: 9%;
		width: 9%;
		margin-top: 0;
		display: block;
		color: #ffffff;
	}
	#img:hover .tooltip {
		visibility: visible;
		margin-left: -30px;
	}
	#proPic img{
		width: 65%;
		height: 150px;	
		border-radius: 50%;
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	}
	#adv, #clr {
		display: none;
	}
	div.photos {
		margin-bottom: 14%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		text-align: center;
		background-color: #ffffff;
		width: 620px;
		height: 400px;
		display: flex-wrap;
	}
	div.photos #img1, #img2,#img3,#img4,#img5,#img6,#img7 {
		width: 100%;
		height: 90%;
	}
	.container h1, img{
		height: 10%;
		width: auto;
	}
	#img1 {
		display: none;

	}
	#img2 {
		display: none;
	}
	#img3 {
		display: none;
	}
	#img4 {
		display: none;
	}
	#img5 {
		display: block;
	}
	#img6 {
		display: none;
	}
	#img7 {
		display: none;
	}
	#jumbo {
		display: block;
	}
	#jumbo1 {
		display: none;
	}
	#jumbo2 {
		display: none;
	}
	#jumbo3 {
		display: none;
	}
	#jumbo4 {
		display: none;
	}
	#jumbo5 {
		display: none;
    }
	#join {
		float: left;
		position: -webkit-sticky;
		position: sticky;
		top: 8%;
		margin-left: 2%;
		margin-bottom: 5%;
		width: 15%;
	}
	#signIn {
		display: none;
		width: 100%;
	}
	#refine {
		display: none;
		float: left;
		position: -webkit-sticky;
		position: sticky;
		top: 7.5%;
		left: 0%;
		width: 20%;
		height: 250px;
		background-color: #FFFFFF;
		padding: .8em;
		overflow: hidden;
		display: flex-wrap;
		-moz-box-shadow: 0 2px 8px 0 rgba(169, 169, 169, 0.4), 0 6px 20px 0 rgba(169, 169, 169, 0.2);
		-webkit-box-shadow: 0 2px 8px 0 rgba(169, 169, 169, 0.4), 0 6px 20px 0 rgba(169, 169, 169, 0.2);
		box-shadow: 0 2px 8px 0 rgba(169, 169, 169, 0.4), 0 6px 20px 0 rgba(169, 169, 169, 0.2);
	}
	.display_project {
		width: 12%;
		height: auto;
		padding: 0;
		margin-bottom: 10px;
		-moz-box-shadow: 0 2px 8px 0 rgba(169, 169, 169, 0.4), 0 6px 20px 0 rgba(169, 169, 169, 0.2);
		-webkit-box-shadow: 0 2px 8px 0 rgba(169, 169, 169, 0.4), 0 6px 20px 0 rgba(169, 169, 169, 0.2);
		box-shadow: 0 2px 8px 0 rgba(169, 169, 169, 0.4), 0 6px 20px 0 rgba(169, 169, 169, 0.2);
	}
	.display_project img {
		float: left;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		padding: 5px;
	}
	.display_project h2 {
		float: left;
		font-weight: bold;
		font-size: 1.3em;
	}
	.display_project h5 {
		float: right;
		padding: 5px;
		color: #aaa;
		font-size: 8pt;
	}
	.project_container {
		margin-top: 30px;
		padding: 10px;
		border: 1px solid #f1f1f1;
		height: auto;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.project_container img {
		float: left;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		margin: 10px;
	}
	.project_container h1 {
		float: left;
		text-decoration: none;
		margin-left: 35%;
		font-size: 1.3em;
		font-weight: bold;
		color: #585858;
		font-family: Arial, Helvetica, Sans-serif;
	}
	.project_container h2 {
		float: right;
		color: #aaa;
		font-family: Arial, Helvetica, Sans-serif;
		margin: 10px;
		font-size: 8pt;
	}
	.project_container p {
		clear: both;
		margin-top: 20px;
		margin-left: 10px;
		margin-right: 10px;
		font-size: 1.2em;
	}
	.profileheading2 {
		text-align: center;
		font-family: Arial, hevetica;
		font-size: 16px;
		font-weight: bold;
		text-decoration: underline;
		margin-top: 20px;
		margin-bottom: 25px;
		height: 15px;
		margin-left: auto;
		margin-right: auto;
		background-color: #f2f2f2;
		border-radius: 10px;
		color: #585858;
		text-align: center;

	}
	#profile {
		position: fixed;
		width: 250px;
		left: 2%;
		top: 8%;
		margin-right: 5%;
		padding: 20px 10px;
		margin-bottom: 0px;
		text-align: center;
		font-family: arial;
		float: left;
		height: auto;
		color:#585858;
		border-radius: 10px;
		background-color: #f2f2f2;
        display: block;
	}
	#message-nav {
		position: fixed;
		left: 0;
		top: 12%;
		height: auto;
		color: #ffffff;
		width: 21.5%;
		font-weight: bold;
		display: flex;
	}
	#message-nav-buttons {
		width: 100%;
		height: 30px;
	}
	#message-nav-buttons a {
		width: 90%;
		height: 30px;
		padding: 12px;
		font-size: 15pt;
		font-weight: bold;
		display: block;
		color: #aaa;
		font-weight: bold;
		font-family: arial, helvetica, sans-serif;
		border: none;
		transition-timing-function: ease-in-out;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
	}
	#message-nav-buttons img {
		width: 20px;
		height: 20px;
		margin-right: 25%;
		margin-left: 10%;
		margin-top: 5px;
	}
	#hr{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		background-color: #E8E8E8;
		clear: both;
		height: 1px;
		display: flex;
	}
    #hr2{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		background-color: #E8E8E8;
		clear: both;
		height: 1px;
		display: flex;
	}
	#message-nav-buttons a:hover {
		color: #ffffff;
		font-weight: bold;
		background-color: #585858;
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	}
	#form {
		border: none;
		padding: 0px;
		width: 100%;
		outline: none;
	}
	#form input[type="text"]{
		border: none;
		padding: 10px;
		position: absolute;
		left: 0;
		font-size: 12px;
		font-weight: bold;
		max-width: 96%;
		outline: none;
	}
	#form input[type="image"]{
		border: none;
		position: absolute;
		right: 0;
		width: auto;
	}
	#img2 {
		position: absolute;
		left: 57%;
		top: 0;
		margin-top: 10px;
		display: none;
		transition-timing-function: ease-in-out;
		-webkit-transition-duration: .5s;
		transition-duration: .5s;
	}
	#minProfile, #minProject {
		display: none;
	}
	#viewProfile {
		display: block;
		margin-top: 20px;
	}

}
* {
	margin: 0px;
	padding: 0px;
	font-family: Arial, hevetica;
	font-size:12px;
}
#a {
	color: #ffffff;
}
#pic, #pic2, #pic3 {
	border-radius: 50%;
}
#pic:hover {
	opacity: .5;
}
#dropbtn, #dropbtn2 {
	margin-right: 8%;
	padding: 8px;
	height: 40px;
	width: 40px;
    border: none;
    cursor: pointer;
	transition-timing-function: ease-in-out;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}
#dropbtn:hover, #dropbtn2:hover {
	opacity: .7;
}
.search_bar input[type='text'] {
	background-color: #E8E8E8;
    border-radius: 5px;
	color: #585858;
}
#search_bar2 input[type='text'] {
	background-color: #E8E8E8;
    border-radius: 5px;
	transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
	color: #585858;
}

#img2:hover {
	opacity: .6;
}
#form, #form2 {
	display: none;
}
.search_bar input[type='text']:focus {
	outline: 1px dotted #aaa;
    outline-offset: 4px;
	background-color: #585858;
	color: #aaa;
}
#search input[type='text']:focus {    
	outline: 1px dotted #aaa;
    outline-offset: 4px;
	background-color: #585858;
	color: #E8E8E8;
}
.search_bar input[type="image"]{
	
	position: absolute;
    margin-left: 10px;
	top: 0;
	height: 27px;
	width: auto;
}
.search_bar:hover {
    background-color: #c0c0c0;
	-moz-box-shadow: 0 2px 5px 0 rgba(169, 169, 169, 0.4), 0 6px 8px 0 rgba(169, 169, 169, 0.14) inset;
	-webkit-box-shadow: 0 2px 5px 0 rgba(169, 169, 169, 0.4), 0 6px 8px 0 rgba(169, 169, 169, 0.14) inset;
	box-shadow: 0 2px 5px 0 rgba(169, 169, 169, 0.4), 0 6px 8px 0 rgba(169, 169, 169, 0.14) inset;
}
#dropdown-content {
	color: #ffffff;
    position: absolute;
	top: 50px;
    width: 190%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #585858;
	display: none;
	margin-top: 0px;
	
}
#dropdown-content a {
    color: #ffffff;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
    text-decoration: none;
    display: block;
	padding-top: 20px;
}
#dropdown-content img {
	height: 18px;
	width: 18px;
	opacity: .5;
	margin-right: 20%;
}
#dropdown-content2 img {
	position: absolute;
	left: 30%;
	height: 20px;
	width: 20px;
	opacity: .5;
}
#dropdown-content2 a:hover {
	cursor: pointer;
	opacity: .6;
}
#dropdown-content a:hover {
	cursor: pointer;
	opacity: .6;
}
#txt {
	font-size: 15pt;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	left: 55%;
}
.tooltip, .tooltip2 {
    visibility: hidden;
    width: 80px;
    background-color: #585858;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin-top: 20px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
}
#menuBottom {
	position: fixed;
	top: 70px;
	right: 0;
    -webkit-transition: width .35s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: width .35s;
    transition-timing-function: linear;
	display: none;
	height: 60px;
	background-color: #c0c0c0;
	width: 60px;
	overflow: hidden;
}
#menuBottom:hover {
	display: block;
	width: 100%;
}
#menuBottom a {
	float: left;
	margin-left: 10%;
	margin-top: 5px;
	height: 50px;
	width: 50px;
	display: block;
}
#menuBottom a:hover {
    opacity: .5;
}
.dropdown2:hover #dropdown-content {
    display: block;
}
#nav {
	display: block;
}
#inbox_icon, #dropbtn, #home, #pic, #manage, #signout {
	margin-left: 2%;
	width: 35px;
	height: 35px;
}
#inbox_icon2, #home2, #pic2, #manage2, #signout2 {
	margin-right: 25px;
	margin-top: 10px;

}
#inbox_icon3, #home3, #pic3, #manage3, #signout3 {
	margin-left: 10%;
	margin-top: 5px;

}
#msg {
	height: 100%;
	display: block;
}
#clr {
	display: none;
}
.empty {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	margin-bottom: 15%;
}
a {
	color: #ffffff;
}
a:link {
	text-decoration: none;
}
a:hover {
	color: #aaa;
	cursor: pointer;
}
a:visited {
	color: #585858;
}

input[type="submit"]:hover {
	background-color: #585858;
	color: #ffffff;
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type="text"]:hover, input[type="file"]:hover, select:hover{
	border: 1px solid #282828;
	color: #585858;
}
body {
	height: 100%;
	width: 100%;
	background-color:#f2f2f2;
	overflow: auto;
}
table {
	width: 100%;
}
.bgstyle h2 {
	text-align: center;
	padding: 20px;
	
}
h2, #in {
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 20px;
	padding: 8px;
	color: #282828;
}
td {
	width: 100%;
}
form input[type="submit"] {
	font-weight: bold;
	background-color: #282828;
	color: #ffffff;
	border: 2px solid #E8E8E8;
	font-size: 16px;
	padding:8px;
	width: 108%;
}
form input {
	border: 1px solid #E8E8E8;
	font-size: 12px;
	padding: 10px;
	width: 100%;
	outline: none;
}

input:hover {
	
}

#showProject {
	font-weight: bold;
	text-align: center;
	color: #585858;
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#showPro {
	width: 80%;
	height: 70px;
	margin-top: 10px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	text-align: justify;
	padding: 10px;
	border: 1px solid #C0C0C0;
}
#showPro input{
	display: hidden;
}
#showPro:hover {
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#showPro img {
	float: left;
	margin-top: 5px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
#image {
	width: 60px;
}
#intro p, h1{
	font-family: arial, helvetica, sans-serif;
	font-size: 1.3em;
}

#project1 {
	height: auto;
	display: none;
}
#project2 {
	height: auto;
	display: none;
}
#project3 {
	height: auto;
	display: none;
}
#project4 {
	height: auto;
	display: none;
}
#project5 {
	height: auto;
	display: none;
}
#inbox {
	font-family: arial, hevetica, sans-serif;
	text-decoration: none;
	font-size: 24px;
	color: #585858;
	margin-left: 20px;
}
#inbox:hover {
	opacity: .7;
	cursor: pointer;
}
#intro {
	background-color: #F5F5F5;
	margin-left: auto;
	margin-right: auto;
	width: 920px;
	overflow: auto;
	color: #585858;
	height: 300px;
	border-left:4px solid #C0C0C0;
	border-right:4px solid #C0C0C0;
	border-bottom:3px solid #C0C0C0;
	-moz-border-bottom-left-radius: 15px;
	-moz-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-image: src();
}
#q {
	width:20px;
	height: 20px;
}
#logoff {
	padding: 8px;
	color: #0084c6;
	text-decoration: none;
	font-family: arial,helvetica, sans-serif;
	font-size: 12px;
}
#joinUs {
	display: none;
	font-size: 32px;
}
.postForm {
	width: 99%;
	height: auto;
	padding-left: 1%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #FFFFFF;
}
.postForm input[type="text"] {
	background-color: #F5F5F5;
	border-radius: 20px;
	border: 0.5px solid #C0C0C0;
	margin: 5px;
	resize: none;
	padding: 1px;
	width: 40%;
	clear: both;
	margin-left: 30%;
	margin-right: auto;
	height: 25px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
}
.postForm input[type="text"]:focus {
	background-color: #FFFFFF;
	border-radius: 20px;
	border: 0.5px solid #C0C0C0;
	margin: 5px;
	resize: none;
	padding: 1px;
	width: 40%;
	clear: both;
	margin-left: 30%;
	margin-right: auto;
	height: 25px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.clear {
	clear: both;
}
.postForm input[type="submit"] {
	width: 60px;
	height: 30px;
	border: 1px solid #666;
	margin-right: 20px;
	margin-left: 80%;
}
.posted_by{
	font-size: 18px;
	color:#aaa;
	text-decoration: none;
	padding: 10px;
}
.posted {
	font-size: 14px;
	color:#aaa;
	text-decoration: none;
	float: right;
	padding:10px;
}
#newUser {
	margin: 0;
	height: 90%;
	border-radius: 20px;
	padding: 30px;
	color: #585858;
	Font-weight: bold;
}
#newUser2 {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 90%;
	width: 90%;
}
#newUser label {
	padding: 0;
	margin: 0;
	float: Left;
}
#newUser input[type="submit"] {
	width: 80px;
	height: 30px;
	margin: 10px;
}
#newUser input[type="text"]:hover, [type="submit"]:hover, [type="date"]:hover,[type="file"]:hover{
	border: 1px solid #E8E8E8;
}
#newUser textarea{
	width: 102%;
	height: 50px;
	border: 1px solid #C0C0C0;
}
#newUser textarea:hover{
	border: 1px solid #282828;

}
/*

footer start

*/
#footer {
    margin-top: 92%;
	margin-left:5%;
	font-weight: bold;
	color: #585858;
}
/*

footer end

*/

/*

header start

*/
#menu {
	width: 100%;
	height: 60px;
	display: flex;
}

#user:hover {
	opacity: .8;
	height: 40px;
	width: 40px;
}

.userPic {
	float: left;
	margin-top: 3px;
	max-width: 30px;
	height: 30px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-right: auto;
}
/*

header end

*/

/*

index start

*/

/*

SignIn start

*/
#in:hover {
	color: #282828;
	cursor: pointer;
}
.err {
	color: red;
	font-size: 16px;
}
/*

SignIn end

*/
/*

index end

*/

/*

change_bio start

*/
#changeAbout {
	margin: 0;
	height: 90%;
	border-radius: 20px;
	padding: 30px;
	color: #585858;
	Font-weight: bold;
}
#changeAbout2 {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 90%;
	width: 60%;
}
#changeAbout label {
	padding: 0;
	margin: 0;
	float: Left;
}
#changeAbout input[type="submit"] {
	width: 80px;
	height: 30px;
	margin: 10px;

}
#changeAbout input[type="text"]:hover, [type="submit"]:hover{
	border: 1px solid #E8E8E8;
}
#changeAbout textarea{
	width: 102%;
	height: 90px;
	border: 1px solid #C0C0C0;
}
#changeAbout textarea:hover{
	border: 1px solid #282828;
}
/*

change_bio end

*/

/*

create project start

*/
#addProject {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}
#addProject input[type="text"]:hover, [type="password"]:hover {
	border: 1px solid #282828;
}
#addProject select {
	width: 120px;
	height: 25px;
	border: 1px solid #C0C0C0;
}
#addProject label {
	padding: 0;
	margin: 0;
	color: #585858;
}
#addProject input[type="text"] {
	width: 97%;
	border: 1px solid #C0C0C0;
}
#addProject textarea {
	width: 98.4%;
	border: 1px solid #C0C0C0;
	overflow: auto;
}
#addProject button {
	width: 20%;
	height: 30px;
	padding: 5px;
	background-color: #282828
	color: white;
}
#addProject button:hover {
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #e60000;
}
#desc {
	width: 100%;
	height: 100px;
}
#desc:hover {
	border: 1px solid #282828;
}
/*

create project end

*/


/*

send_msg start

*/
.reply {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	min-height: 300px;
}
#sub {
	width: 98.8%;
	border: 1px solid #C0C0C0;
}
#message {
	width: 100%;
	height: 400px;
	border: 1px solid #C0C0C0;
}
/*

send_msg end

*/

/*

start home

*/
#search img {
	margin: auto;
	height: 100%;
	width: auto;
}
#filter-people {
	clear: left;
	text-align: center;
	margin-bottom: 1.2em;
	margin-top: 1.2em;
}
#filter-people h1 {
	color: #aaa;
	font-weight: bold;
	font-family: arial, helvetica, sans-serif;
}
#filter-people h1:hover {
	opacity: .7;
}
#filter-state  {
	height: auto;
}
#filter-state form {
	padding: 5px;
	color: #aaa;
}
#filter-state select, label {
	padding: 5px;
	margin-left: 10%;
}
#filter-state select:hover {
	border-color:#585858;
}
#filter-state button {
	margin-right: 6%;
	padding: 5px;
	background-color: #585858;
	color: #FFFFFF;
	float: right;
}
#filter-state button:hover {
	padding: 5px;
	opacity: .7;
	color: #FFFFFF;
	-moz-box-shadow: 0 2px 5px 0 rgba(169, 169, 169, 0.4), 0 6px 8px 0 rgba(169, 169, 169, 0.14);
	-webkit-box-shadow: 0 2px 5px 0 rgba(169, 169, 169, 0.4), 0 6px 8px 0 rgba(169, 169, 169, 0.14);
	box-shadow: 0 2px 5px 0 rgba(169, 169, 169, 0.4), 0 6px 8px 0 rgba(169, 169, 169, 0.14);
}
/*

stop home

*/

/*

start inbox

*/
#showMsg {
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 95%;
	border: 2px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;

}
#showMsg a {
	color: #aaa;
	float: left;
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
}
#showMsg p {
	float: left;
	font-size: 18px;
	color: #585858;
	margin-left: 15px;
	margin-top: 4px;
	padding: 10px;
	letter-spacing: 1px;
	line-height: 120%;
}

#showMsg::after {
	content: "";
	clear: both;
	display: table;
}
#showMsg img {
	float: left;
	max-width: 50px;
	height: 50px;
	margin-right: 20px;
	border-radius: 50%;
}
#delete {
	width: 150px;
	height: 50px;
	float: right;
	color: #aaa;
	border: none;
	background-color: none;
}
#delete:hover {
	float: right;
	opacity: .7;
	cursor: pointer;
}
#messageHead {
	color: #ffffff;
	font-weight: bold;
	font-size: 20pt;
	padding: 20px;
	background-color: #585858;
	-moz-box-shadow: 0 8px 10px 0 rgba(169, 169, 169, 0.7), 0 10px 12px 0 rgba(169, 169, 169, 0.2);
	-webkit-box-shadow: 0 8px 10px 0 rgba(169, 169, 169, 0.7), 0 10px 12px 0 rgba(169, 169, 169, 0.2);
	box-shadow: 0 8px 10px 0 rgba(169, 169, 169, 0.7), 0 10px 12px 0 rgba(169, 169, 169, 0.2);
}

#account {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.color-changing {
	padding: 10px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	color: #282828;
	width: 50%;
}
.color-changing label {
	margin-left: 15%;
	font-weight: bold;
	font-size: 14px;
	color: #585858;
}
.color-changing [type="text"], .color-changing [type="file"] {
	border: 1px solid #aaa;
	margin-left: ;
	margin-top: 20px;
	font-size: 12pt;
	padding: 10px;
	width: 60%;
}
#color-changing {
	border: 1px solid #aaa;
	margin-left: 8px;
	margin-top: 20px;
	font-size: 12pt;
	padding: 10px;
	width: 62%;
}
#color-changing:hover {
	border: 1px solid #282828;
}
.color-changing input[type="submit"] {
	border: 1px solid #585858;
	margin-left: 85%;
	margin-top: 30px;
	padding: 12px;
	width: 25%;
}
#close_account {
	padding: 5px;
	margin-left: 40%;
	margin-right: auto;
	color: #282828;
	font-weight: bold;
	font-size: 14px;
}
#close_account:hover {
	color: #585858;
	cursor: pointer;
}
